/**
 * Styling for module-specific elements.
 */

#edit-hfcissues {
  font-size: 0.8em;
}

#edit-hfcissues .form-item {
  display: inline-block;
  margin: 0.5em 0.5em 0.5em 0;
  vertical-align: top;
}
